[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pre-commit = "*"

[packages]
requests = "*"
pandas = "*"
matplotlib = "*"
fire = "*"
click = "*"
scipy = "*"
tqdm = "*"
country-converter = "*"
fasttext = "*"
nmslib = "*"
scikit-learn = "*"
nltk = "*"

[requires]
python_version = "3.7"
